<!-- SCRIPTURES PAGE -->
<!-- DO THIS PAGE FIRST. THEN WE CAN COPY/PASTE/CUSTOMIZE FOR OTHER PAGES -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scriptures</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="scriptures.html">Scriptures</a></li>
                <li><a href="quotes.html">Quotes</a></li>
                <li><a href="memes.html">Memes</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Scriptures</h1>
        <!-- For putting the list of cards -->
        <div id="feed">

        </div>
    </main>
    <footer>
        <h4>Lift Me Up</h4>
        <p>BYU-Idaho "LiFT" Hack-a-thon Fall 2021</p>
        <p>© 2021 Cierra Morris, Jacob Elzinga, Kim Black, and Riley Stratton </p>
        <p>Inspirational quotes provided by <a href="https://zenquotes.io/" target="_blank">ZenQuotes API</a></p>
    </footer>
    <script src="../controllers/scriptures.js" type="module"></script>
</body>
</html>